html {
    height: 100%;
    width:100%;
  }
  
  body {
    height: 100%;
    width:100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: relative;
    align-items: relative;
    background-color: white;
  }
  
  .footer img{
    bottom: 3%;
    left: 3%;
    width: 5%;
    height: 10%;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }

  .footer h1{
    position: absolute;
    bottom: 6%;
    left: 8%;
    color: black;
    font-size: 20px;
  }
  .footer h2{
    position: absolute;
    bottom: 2%;
    left: 8%;
    color: black;
    font-size: 20px;
  }
  .header {
    top: 2%;
    left: 5%;
    width: 90%;
    height: 20%;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 7px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(10, 117, 151, 1);
  }
  .home-btn {
    right: 1%;
    position: absolute;
  }
  .text05 {
    top: 10%;
    left: 30%;
    width: 40%;
    color: white;
    height: auto;
    position: absolute;
    font-size: 270%;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text07 {
    top: 50%;
    left: 30%;
    color: white;
    width: 40%;
    height: auto;
    position: absolute;
    font-size: 150%;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  #main-holder-1 {
    width: 70%;
    height: 45%;
    top: 25%;
    left: 15%;
    display: grid;
    position: absolute;
    background-color:rgb(133, 178, 192);
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
  }
  .save {
    bottom: -20%;
    right: 2%;
    width: 10%;
    height: 10%;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(10, 117, 151, 1);
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    background-color: rgba(10, 117, 151, 0.5);
  }
.text11 {
  top: 22%;
  right:7%;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
  .text17 {
    color: rgba(0, 0, 0, 1);
    top: 3%;
    left: 20%;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Medium;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text21 {
    color: rgba(0, 0, 0, 1);
    top: 2%;
    left: 3%;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  #form {
    top: 20%;
    height: 50%;
    position: relative;
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }

.measurement-form-field {
  top: 0%;
  left: 5%;
  width: 90%;
  height: 20%;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(10, 117, 151, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.comment-form-field{
  top: 30%;
  left: 5%;
  width: 90%;
  height: 45%;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(10, 117, 151, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.time-form-field{
  top: 88%;
  left: 5%;
  width: 90%;
  height: 20%;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(10, 117, 151, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}