html {
    height: 100%;
    width:100%;
  }
  
  body {
    height: 100%;
    width:100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: relative;
    align-items: relative;
    background-color: white;
  }
  .footer img{
    bottom: 3%;
    left: 3%;
    width: 5%;
    height: 10%;
    display: flex;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }

  .footer h1{
    position: absolute;
    bottom: 6%;
    left: 8%;
    color: black;
    font-size: 20px;
  }
  .footer h2{
    position: absolute;
    bottom: 2%;
    left: 8%;
    color: black;
    font-size: 20px;
  }
  .header {
    top: 2%;
    left: 5%;
    width: 90%;
    height: 20%;
    display: flex;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-radius: 7px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(10, 117, 151, 1);
  }
  .home-btn {
    right: 10px;
    position: absolute;
  }
  .text05 {
    top: 14px;
    left: 349px;
    color: white;
    width: 450px;
    height: auto;
    position: absolute;
    font-size: 40px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text07 {
    top: 57px;
    left: 349px;
    color: white;
    width: 450px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
#myGraph {
  width: 70%;
  height: 50%;
  top: 30%;
  left: 15%;
  display: grid;
  position: absolute;
  background-color:rgb(133, 178, 192);
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}
  .edit-thresh {
    bottom: 7%;
    right: 5%;
    width: 17%;
    height: 7%;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(10, 117, 151, 1);
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    background-color: rgba(10, 117, 151, 0.5);
    cursor: pointer;
  }
  .edit-thresh:hover {
    background-color: #04AA6D;
    color: white;
  }
  .text19 {
    color: white;
    top: 15%;
    right: 15%;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Medium;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
  }