html {
    height: 100%;
    width:100%;
  }
  
  body {
    height: 100%;
    width:100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: relative;
    align-items: relative;
    background-color: white;
  }
  
  .footer img{
    bottom: 3%;
    left: 3%;
    width: 5%;
    height: 10%;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }

  .footer h1{
    position: absolute;
    bottom: 6%;
    left: 8%;
    color: black;
    font-size: 20px;
  }
  .footer h2{
    position: absolute;
    bottom: 2%;
    left: 8%;
    color: black;
    font-size: 20px;
  }
  .header {
    top: 2%;
    left: 5%;
    width: 90%;
    height: 20%;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 7px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(10, 117, 151, 1);
  }
  .text05 {
    top: 25%;
    left: 32%;
    color: white;
    width: 450px;
    height: auto;
    position: absolute;
    font-size: 40px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  #main-holder {
    width: 80%;
    height: 60%;
    left: 10%;
    display: grid;
    position: relative;
  }
  #header-table {
    padding: 30px;
    height: 10%;
    width:90%;
    position: absolute;
    top: 3%;
    text-align: top;
    background: rgba(10, 117, 151, 1);
    color: white;
    font-size: 20px;
  }
  
  #myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 50%;
    font-size: 70%;
    padding: 10px 20px 10px 40px;
    border: 1px solid #ddd;
    margin-bottom: 5%;
    margin-top: 30%;
  }
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
  #myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }
  
  #myTable {
    border-collapse: separate;
    border-spacing: 0;
    color: #4a4a4d;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  #myTable th, #myTable td {
    padding: 10px 10px;
    vertical-align: middle;
  }
  #myTable thead {
    background: #395870;
    background: linear-gradient(#49708f, #293f50);
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
  }
  #myTable th:first-child {
    border-top-left-radius: 5px;
    text-align: left;
  }
  #myTable th:last-child {
    border-top-right-radius: 5px;
  }
  #myTable tbody tr:nth-child(even) {
    background: #f0f0f2;
  }
  #myTable td {
    border-bottom: 1px solid #cecfd5;
    border-right: 1px solid #cecfd5;
  }
  #myTable td:first-child {
    border-left: 1px solid #cecfd5;
  }
  #myTable .book-title {
    color: #395870;
    display: block;
  }
  #myTable .text-offset {
    color: #7c7c80;
    font-size: 12px;
  }
  #myTable tfoot {
    text-align: right;
  }
  #myTable tfoot tr:last-child {
    background: #f0f0f2;
    color: #395870;
    font-weight: bold;
  }
  #myTable tfoot tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
  }
  #myTable tfoot tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
  }