html {
    height: 100%;
    width:100%;
  }
  
  body {
    height: 100%;
    width:100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: relative;
    align-items: relative;
    background-color: white;
  }
  
  .footer img{
    bottom: 3%;
    left: 3%;
    width: 5%;
    height: 10%;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }

  .footer h1{
    position: absolute;
    bottom: 6%;
    left: 8%;
    color: black;
    font-size: 20px;
  }
  .footer h2{
    position: absolute;
    bottom: 2%;
    left: 8%;
    color: black;
    font-size: 20px;
  }
  .header {
    top: 2%;
    left: 5%;
    width: 90%;
    height: 20%;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 7px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(10, 117, 151, 1);
  }
  .home-btn {
    right: 10px;
    position: absolute;
  }
  .text05 {
    top: 14px;
    left: 349px;
    color: white;
    width: 450px;
    height: auto;
    position: absolute;
    font-size: 40px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text07 {
    top: 57px;
    left: 349px;
    color: white;
    width: 450px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  #main-holder-1 {
    width: 70%;
    height: 50%;
    top: 30%;
    left: 15%;
    display: grid;
    position: absolute;
    background-color:rgb(133, 178, 192);
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
  }

  .upper {
    top: 12%;
    left: 5%;
    width: 90%;
    height: 20%;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(10, 117, 151, 1);
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
  }
  .text09 {
    top: 25%;
    left: 3%;
    color: rgba(0, 0, 0, 0.4000000059604645);
    width: 393px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text11 {
    top: 25%;
    right: 3%;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .lower {
    top: 40%;
    left: 5%;
    width: 90%;
    height: 20%;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(10, 117, 151, 1);
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
  }
  .text13 {
    top: 25%;
    left: 3%;
    color: rgba(0, 0, 0, 0.4000000059604645);
    width: 393px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text15 {
    top: 25%;
    right: 3%;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .savebutton {
    top: 80%;
    right: 30%;
    width: 20%;
    height: 12%;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(10, 117, 151, 1);
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    background-color: rgba(10, 117, 151, 0.5);
  }
  .text17 {
    color: rgba(0, 0, 0, 1);
    top: 15%;
    right: 7%;
    height: auto;
    position: absolute;
    font-size: 170%;
    align-self: auto;
    font-style: Medium;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text19 {
    color: rgba(0, 0, 0, 1);
    top: 15%;
    right: 7%;
    height: auto;
    position: absolute;
    font-size: 170%;
    align-self: auto;
    font-style: Medium;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text21 {
    color: rgba(0, 0, 0, 1);
    top: 2%;
    left: 3%;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }